.body {
  height: 100vh;
  /* flex: 0.8; */
  background-image: linear-gradient(
      To right,
      rgb(48, 28, 53),
      rgb(48, 28, 53, 0.8)
    ),
    url("./images/music.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 1.5%;
  width: 100%;
}
.body-show {
  background-color: rgb(245, 245, 245, 0.6);
  box-shadow: -25px 10px 50px rgb(15, 15, 15);
  width: 40vw;
  height: 40vh;
  margin-top: 2%;
  margin-bottom: 2%;
  border-radius: 10px;
}
.body-info {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 2%;
}
.body-info > img {
  object-fit: contain;
  height: 36vh;
  width: 20vw;
  border-radius: 6px;
  opacity: 0.9;
}
.info-text {
  display: flex;
  flex-direction: column;
}

.body-songs {
  height: 52vh;
  overflow-y: scroll;
  box-shadow: -25px 10px 50px rgb(15, 15, 15);
}

.body-songs::-webkit-scrollbar {
  display: none;
}

@media (max-width: 1200px) {
  .body-show {
    width: 45vw;
    height: 45vh;
  }
}
@media (max-width: 1050px) {
  .info-text {
    font-size: 0.8em;
  }
  .body-info > img {
    height: 40vh;
    width: 21vw;
  }
}
@media (max-width: 900px) {
 
  .body-show {
    width: 47vw;
    height: 40vh;
  }
}
@media (max-width: 765px) {
 
  .body-show {
    width: 54vw;
    height: 38vh;
  }
  .body-info > img {
    height: 38vh;
    width: 25vw;
  }
}
@media (max-width: 665px) {
 
  .body-show {
    width: 56vw;
    height: 38vh;
  }
  .body-info > img {
    height: 38vh;
    width: 25vw;
  }
  .info-text{
    font-size: 0.6em;
  }
}
@media (max-width: 500px) {
 
  .body-show {
    width: 90vw;
    height: 38vh;
  }
  .body-info > img {
    height: 38vh;
    width: 28vw;
  }
  .info-text{
    font-size: 0.85em;
  }
}
@media (max-width: 360px) {
 
  .body-show {
    width: 90vw;
    height: 38vh;
  }
  .body-info > img {
    height: 38vh;
    width: 30vw;
  }
  .info-text{
    font-size: 0.7em;
  }
}
@media (max-width: 300px) {
 
  .body-show {
    width: 90vw;
    height: 30vh;
  }
  .body-info > img {
    height: 30vh;
    width: 30vw;
  }
  .info-text{
    font-size: 0.55em;
  }
}
