/* @import url("https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap");

.player {
  color: beige;
  /* font-family: "Zen Dots", cursive; */
  font-family: "Roboto Mono", monospace;
}

.play-side-wrapper {
  display: flex;
  align-items: center;
}
