.sidebar {
  height: 100vh;
  flex: 0.2;
  /* background: linear-gradient(To right, rgb(7, 7, 7), rgb(34, 11, 34)); */
  /* background-color: #020202; */
  background-image: linear-gradient(
      To left,
      rgb(17, 17, 17),
      rgba(15, 15, 15, 0.98)
    ),
    url("./images/mus.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 1.5%;
}

.logo {
  height: 3em;
  object-fit: contain;
  margin-bottom: 7%;
}

.playlist {
  font-size: large;
}
hr {
  margin-bottom: 20%;
}

.side-opt-cont {
  display: flex;
  align-items: center;
  margin-bottom: 9%;
  cursor: pointer;
}

.side-icon {
  font-size: 0.8em;
  padding: 2%;
}

.playlist-text {
  margin-bottom: 9%;
  cursor: pointer;
}

.music-dot {
  margin-right: 4%;
  font-size: 0.6em;
}

.side-opt {
  font-size: nor;
}
.side-opt-cont:hover {
  color: rgb(83, 83, 83);
}
.playlist-text:hover {
  color: rgb(83, 83, 83);
}
